@font-face {
  font-family: Appetite_New;
  src: url("../fonts/Appetite_New.otf")
}
@font-face {
  font-family: MUSEOSANSCYRL;
  src: url("../fonts/MUSEOSANSCYRL.otf")
}
@font-face {
  font-family: MUSEOSANSCYRL0;
  src: url("../fonts/MUSEOSANSCYRL_0.otf")
}
@font-face {
  font-family: MUSEOSANSCYRL1;
  src: url("../fonts/MUSEOSANSCYRL_1.otf")
}
@font-face {
  font-family: MUSEOSANSCYRL2;
  src: url("../fonts/MUSEOSANSCYRL_2.otf")
}
@font-face {
  font-family: MUSEOSANSCYRL3;
  src: url("../fonts/MUSEOSANSCYRL_3.otf")
}