@import './mixins.scss';
@import './fonts.css';

body {
  text-align: center;
  font-family: 'MUSEOSANSCYRL', sans-serif;
}

.hello {
  font-size: 2rem;
}
@include respond (tab-land) {
  font-size: 80px;
}
