@import "./mixins.scss";
@import "./fonts.css";

:root {
  --text-color: #282828;
  --link-color: #ff6078;
  --text-button: #fff;
}
* {
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
}
body {
  font-family: "MUSEOSANSCYRL2", sans-serif;
  background: url("../img/background.png") no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  padding: 0 get-vw(10px);

  @include respond (tab-land) {
    height: 100vh;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: get-vw(15px);
  @include respond (phone){
    flex-direction: column;
  }
  .header__logo {
    img {
      width: get-vw(180px);
      height: get-vw(100px);
    }
  }
  .header__title {
    margin-left: get-vw(5px);
    font-weight: 400;
    @include vw(10px);
    @include vh(8px);
    line-height: normal;
    @include respond(tab-port) {
      font-size: 12px;
      line-height: 10px;
    }
  }
}

.header__addres {
  display: flex;
  flex-direction: row;
  padding-right: get-vw(5px);
  .header__map {
    width: get-vw(70px);
    height: get-vw(70px);
    margin: auto;
    img {
      width: get-vw(70px);
      height: get-vw(70px);
    }
  }
  .header__addresInfo {
    position:relative;
    margin-top: get-vw(15px);
    p {
      @include vw(12px);
      @include vh(14px);
      @include respond(tab-port) {
        font-size: 10px;
        line-height: 12px;
      }
    }
    .addres__link {
      color: var(--link-color);
      @include vw(8px);
      text-transform: uppercase;
      border-bottom-style: dotted;
      border-bottom-width: 2px;
      border-bottom-color: var(--link-color);
      &:hover {
        border-bottom-width: 4px;
      }
    }
  }
}
.main__imageGirl {
  @include respond (phone) {
    display: none;
  }
  position: relative;
  width: 40%;
  img {
    background-size: cover;
    overflow: hidden; 
  }
}

.header__addresInfo--map {
  background:#f3f3f3;
  height:300px;
  -moz-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 5px 5px rgba(0,0,0,0.3);
  box-shadow:0 5px 5px rgba(0,0,0,0.3);
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-right: get-vw(10px);
  .contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contacts__phone {
    @include vw(20px);
    color: var(--text-color);
    &:hover {
      color: rgba(7, 37, 15, 0.473);
      box-shadow: 0 8px 0 0 rgba(39, 178, 75, 0.473);
    }
  }
  .contacts__operating {
    @include vw(12px);
    color: var(--text-color);
    margin-top: get-vw(20px);
  }
  .contacts__icons {
    margin: get-vw(15px) get-vw(10px) 0 0;
    position: relative;
    width: get-vw(35px);
    height: get-vw(35px);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 3px 20px 0px rgba(68, 68, 68, 0.11);
    img {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: get-vw(15px);
      height: get-vw(15px);
    }
  }
}
.submit__courses {
  font-family: "MUSEOSANSCYRL2", sans-serif;
  background-color: rgb(254, 252, 251);
  border: none;
  border-radius: 30px;
  padding: get-vw(10px);
  width: get-vw(170px);
  height: get-vw(42px);
  text-decoration: none;
  @include vw(11px);
  color: var(--text-color);
  transition-duration: 0.4s;
  box-shadow: 0 3px 0 2px rgba(173, 173, 173, 0.247);
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 2px rgba(53, 54, 53, 0.473);
  }
  .submit__courses--icon {
    padding-right: get-vw(10px);
  }
  @include respond (tab-port) {
    height:50px;
    font-size: 10px;
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.navigation {
  margin-top: get-vw(10px);
  height: get-vw(40px);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 4px 0 5px rgba(255, 255, 255, 0.6);

  @include respond (tab-port) {
    height: 55px;
  }
  @include respond (phone) {
    height: 350px;
    font-size: 28px;
    line-height: 28px;
  }
  .navigation__link {
    text-decoration: none;
    color: var(--text-color);
    @include vw(10px);
    @include respond (tab-port) {
      font-size: 10px;
      letter-spacing: -0.5px;
    }
  }
}
nav {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }
  ul li {
    display: inline-block;
    &::after {
      content: "";
      margin: 0 get-vw(12px);
    }
    &:last-child::after {
      margin-right: 0;
    }
    position: relative;
    transition: 0.5s;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        100deg,
        rgba(255, 255, 255, 0.5),
        #ff607863
      );
      transform-origin: right;
      transition: transform 400ms ease;
      transform: scaleX(0);
    }
    &:hover::before,
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
      @include respond (tab-port) {
        transform: scaleY(1);
      }
      transform: scaleY(2.1);
    }
    &::after {
      filter: blur(30px);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.main__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: get-vw(25px);
  overflow: hidden; 
  @include respond (phone) {
    flex-direction: column;
  }
  .main__info {
    width: 40%;
    @include respond (phone) {
      width: 90%;
    }
    .main__title {
      margin-left: get-vw(5px);
      font-weight: 400;
      @include vw(30px);
      @include vh(38px);
      @include respond (phone) {
        font-size: 24px;
        line-height: 30px;
      }
    }
    .main__list {
      .main__items {
        @include vw(16px);
        @include vh(30px);
        list-style-position: inside;
        list-style: none;
        background: url('../img/list_ellipse.png') no-repeat  1px;
        padding-left: get-vw(30px);
        @include respond (phone) {
          padding-left: 35px;
        }
      }
    }
  }
}
.main__popupBtn:hover .main__customerCard--popUp {
  display:block;
  position:absolute;
  bottom:get-vw(50px);
  z-index:9999;
  width:200px;
  @include respond (phone) {
    bottom: 50px;
  }
}
.main__popupBtn {
  @include respond (phone) {
    top: 200%;
    width: 40px;
    height: 40px;
  }
  position: relative;
  top: 162%;
  left: 75%;
  display: block;
  border-radius: 100%;
  width: get-vw(40px);
  height: get-vw(40px);
  background-image: url('../img/hint.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
&:hover {
  cursor: pointer;
  transform: scale(1.2);
}
}

.main__customerCard {
  width: 15%;
  position:relative;
  display: inline-grid;
  .main__customerCard--popUp{
    @include respond (phone) {
      margin-left:-100px;
      width: 80px;
      height: 80px;
    }
    display:none;
    margin-left:-250px;
    padding:10px;
    margin-top:17px;
    width: get-vw(160px);
    height: get-vw(160px);
    background-color: #fffefd;
    color: var(--text-color);
    @include vw(14px);
    @include vh(14px);
    border-radius: 35px 35px 5px 5px;
    box-shadow: 0px 2px 18px 0px rgba(187, 194, 206, 0.32); 
    box-shadow: 0 3px 0 2px rgba(173, 173, 173, 0.247);
}
    p{
      padding: get-vw(20px);
      text-align: center;
    }
}

.submit__customerCard {
  @include respond (phone) {
    width: 150px;
    height: 60px;
  }
  margin-top: get-vw(20px);
  font-family: "MUSEOSANSCYRL2", sans-serif;
  background-color: #f5a4a7;
  border: none;
  padding: get-vw(10px);
  width: get-vw(200px);
  height: get-vw(55px);
  text-decoration: none;
  @include vw(10px);
  @include vh(14px);
  color: var(--text-button);
  text-transform: uppercase;
  text-align: center; 
  background-image: -ms-linear-gradient( 90deg, rgba(241,153,157,0.47059) 0%, rgba(247,168,170,0.76) 55%, rgba(252,182,182,0.99) 98%, rgb(252,182,182) 100%);
  text-shadow: 0px 1px 5px rgba(210, 110, 116, 0.49);
  transition-duration: 0.4s;
  box-shadow: 0px 7px 27px 0px rgba(241, 131, 131, 0.57);
  border-radius: 43px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 1px 2px rgba(235, 141, 147, 0.803);
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
/* Animation for buttons */

.main__popupBtn--insideShadow {
  @include respond (phone) {
    left: 10px;
    top:8px;
    width: 20px;
    height: 20px;
  }
  border-radius: 100px;
  width: get-vw(20px);
  height: get-vw(20px);
  position: relative;
  left: get-vw(9px);
  top: get-vw(8px);
  animation: blink-pink 2.5s cubic-bezier(0.51, 0.48, 1, 1) infinite;
}

#blink {
  margin-top: get-vw(7px);
  border-radius: 50%;
  -webkit-animation: blink-green 3.5s linear infinite;
  animation: blink-green 3.5s linear infinite;
}

@keyframes blink-green {
  20% {
    box-shadow: 0 0 2px 2px rgba(39, 178, 75, 0.473);
  }
  51% {
    box-shadow: 0 0 5px 3px rgba(39, 178, 75, 0.473);
  }
  100% {
    box-shadow: 0 0 8px 5px rgba(39, 178, 75, 0.473);
  }
}
@keyframes blink-pink {
  20% {
    box-shadow: 0 0 2px 3px #ee7176e0;
  }
  51% {
    box-shadow: 0 0 3px 7px #d3797cc5;
  }
  100% {
    box-shadow: 0 0 5px 8px #e9a9ab;
  }
}

/* Wave */
#wave {
  position: relative;
  height: 70px;

  background: #e0efe3;
}

#wave:before {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 56%;
        width: 56.66%;
    height: 80px;
    background-color: white;
    right: -5px;
    top: 40px;
}

#wave:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 100% 50%;
        width: 50%;
    height: 70px;
    background-color: #e0efe3;
    left: 0;
    top: 27px;
}
.wave {
  @include respond (phone) {
    display: none;
  }
}
.toggle__map {
  display:block;
  position:absolute;
  top:get-vw(50px);
  z-index:9999;
  width:300px;
}
.disnone {
  display: none;
}

/* HAmb */

.header .hamburger {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20px;
  top: 85px;
  z-index: 5;
  transition: transform 0.3s ease;
}
.shadow {
  box-shadow: 33px 0px 0px calc(100vw - 10px) rgba(0, 0, 0, 0.4);
  transition: all ease 0.6s;
}
.header .hamburger:hover {
  cursor: pointer;
}

.header .hamb,
.header .hamb::before,
.header .hamb::after {
  position: absolute;
  background-color: var(--link-color);
  width: 40px;
  height: 4px;
  margin-top: 15px;
  border-radius: 20px;
  z-index: 5000;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.header .hamb::before,
.header .hamb::after {
  content: "";
}

.header .hamb::before {
  transform: translateY(-7px);
  margin-left: 0px;
  margin-top: 0px;
}

.header .hamb::after {
  transform: translateY(7px);
  margin-left: 0px;
  margin-top: 0px;
}

.header .hamb {
  display: none;
}

.hamb_opened {
  transition: all ease 1s;
  height: 100vh;
    .hamb {
      transform: rotate(45deg);
      background-color: #616161;
      transition: all ease 0.2s;
      &::before {
        top: 0;
        transform: rotate(0);
        background-color: #616161;
        transition: all ease 0.1s;
      }
      &::after {
        top: 0;
        transform: rotate(90deg);
        background-color: #616161;
        transition: all ease 0.1s;
      }
    }
}

.logo_left {
  margin-left: 0px;
  z-index: 6000;
  transition: all ease 1s
}

.blur {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #2d303a;
  opacity: 0.9;
  position: absolute;
  z-index: 99999;
  top: 0;
}
@media (max-width: 767px) {
  .header .hamb {
    display: block;
}
nav {
    position: fixed;
    display: flex;
    transition: all ease 0.6s;
    padding: 0;
    align-items: center;
    top: 0;
    left: -100%;
    width: 278px;
    height: 100vh;
    background-color: #2D303A;
}
nav>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
nav>ul>li {
    margin-left: 10px;
}
nav>ul>li::after {
    content: "";
}
.nav_link {
    margin-left: 30px;
    font-weight: bold;
    font-size: 22px;
    line-height: 50px;
    list-style: none;
}
}