@import './mixins.scss';
@import './fonts.css';

:root {
  --text-color: #282828;
  --link-color: #ff6078;
  --text-button: #fff;
}
* {
  padding: 0;
  margin: 0;
  a {  
    text-decoration: none;
  }

}
body {
  font-family: 'MUSEOSANSCYRL2', sans-serif;
}

.wrapper {
  padding: 0 get-vw(10px);
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  height: 100vh;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: get-vw(15px);
}
.header__logo {
  img {
    width: get-vw(180px);
    height: get-vw(100px);
  }
}
.header__title {
  font-weight: 400;
 @include vw(10px);
 @include vh(8px);
 line-height: normal;
  @include respond (tab-port) {
    @include vw(14px);
  }
}

.header__addres {
  display: inline-block;
  .header__map {
    width: get-vw(78px); 
    height: get-vw(78px);
  }
  p{
    @include vw(12px);
    @include vh(14px);
    @include respond (tab-port) {
      @include vw(14px);
      @include vh(24px);
    }
  }
  .addres__link {
    color: var(--link-color);
    @include vw(8px);
    text-transform: uppercase;

    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: var(--link-color);
  }
  
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-right: get-vw(15px);
  .contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .contacts__phone {
    @include vw(20px);
    color: var(--text-color);
    &:hover {
      color:rgba(7, 37, 15, 0.473);
      box-shadow: 0 8px 0 0 rgba(39, 178, 75, 0.473);
    }
  }
  .contacts__operating {
    @include vw(12px);
    color: var(--text-color);
    margin-top: get-vw(20px);
  }
  .contacts__icons {
    margin: get-vw(15px) get-vw(10px) 0 0;
    position: relative;
    width: get-vw(35px); 
    height: get-vw(35px);
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 3px 20px 0px rgba(68, 68, 68, 0.11); 
    img {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      width: get-vw(15px); 
      height: get-vw(15px);
    }
  }
}
.submit__courses {
  background-color: rgb(254, 252, 251);
  border: none;
  border-radius: 30px;
  padding: get-vw(10px);
  width: get-vw(229px); 
  height: get-vw(62px);
  text-decoration: none;
  @include vw(11px);
  color: var(--text-color);
  transition-duration: 0.4s;
  box-shadow: 0 3px 0 2px rgba(173, 173, 173, 0.247);
  &:hover {
  cursor: pointer;
  box-shadow: 0 2px 1px 2px rgba(53, 54, 53, 0.473);
  }
  .submit__courses--icon {
    padding-right: get-vw(10px);
  }
}

.navigation {
 .navigation__link{
   color: var(--text-color);
   @include vw(11px);
 }
}
/* Animation shadow for contact */
#blink {
  margin-top: get-vw(7px);
  border-radius: 50%;
  -webkit-animation: blink 3.5s linear infinite;
  animation: blink 3.5s linear infinite;
}

@keyframes blink {
  20% { box-shadow: 0 0 2px 2px rgba(39, 178, 75, 0.473); }
  51% { box-shadow: 0 0 5px 3px rgba(39, 178, 75, 0.473); }
  100% { box-shadow: 0 0 8px 5px rgba(39, 178, 75, 0.473); }
}

